:root {
  --color-blue-90: #1C2840;
  --color-blue-80: #3B6488;
  --color-blue-70: #5D86A9;
  --color-blue-60: #7FADD2;
  --color-blue-50: #8BA8BF;
  --color-beige: #D9B59F;
  --color-dark-gray: #d9d9d94f;
  --color-gray: #797F8D;
  --color-white-20: #CBD7E2;
  --color-white-10: #E1E4ED;
  --colorw-white-5: #ECF2F6;
  --color-white: #F2F2F2;

  --font-family-base: 'Manrope', sans-serif;
  --font-family-accent: 'Playfair DisplaySC', serif;

  --container-width: 1920px;
  --container-padding-x: 0 20px;

  --transition-duration: 0.2s;
}
