@use '../../styles' as *;

// Контейнер для видео
.videoContainer {
  position: relative; // Устанавливает элемент в относительное позиционирование
  height: 100vh; // Высота контейнера равна высоте окна браузера
  overflow: hidden; // Скрывает все, что выходит за пределы контейнера
}

// Фоновое изображение
.backgroundImage {
  position: absolute; // Абсолютное позиционирование внутри контейнера
  top: 0; // Располагает изображение от верхнего края контейнера
  left: 0; // Располагает изображение от левого края контейнера
  width: 100%; // Занимает всю ширину контейнера
  height: 100%; // Занимает всю высоту контейнера
  object-fit: cover; // Масштабирует изображение, сохраняя пропорции, чтобы заполнить контейнер
  z-index: -1; // Устанавливает изображение позади других элементов
  opacity: 1; // Начальная непрозрачность изображения
  transition: opacity 0.8s ease-in-out; // Плавное изменение прозрачности
}

// Фоновое видео
.backgroundVideo {
  position: absolute; // Абсолютное позиционирование внутри контейнера
  top: 0; // Располагает видео от верхнего края контейнера
  left: 0; // Располагает видео от левого края контейнера
  width: 100%; // Занимает всю ширину контейнера
  height: 100%; // Занимает всю высоту контейнера
  object-fit: cover; // Масштабирует видео, сохраняя пропорции, чтобы заполнить контейнер
  z-index: -1; // Устанавливает видео позади других элементов
  opacity: 0; // Начальная непрозрачность видео
  transition: opacity 0.8s ease-in-out; // Плавное изменение прозрачности

  &.visible {
    opacity: 1; // Устанавливает полную непрозрачность, когда видео становится видимым

    + .backgroundImage {
      opacity: 0; // Устанавливает полную прозрачность изображения, когда видео становится видимым
    }
  }
}
