@use '../../styles' as *;

.videoContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;

  &.visible {
    opacity: 1;

    + .backgroundImage {
      opacity: 0;
    }
  }
}
