@use '../../styles' as *;

.heading {
  font-family: var(--font-family-base);
  text-align: center;
  margin-bottom: 90px;
}

.accent {
  font-family: var(--font-family-accent);
  font-style: italic;
}