.serviceSection {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: var(--colorw-white-5);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
  transform: translateY(-7%);

  &__title {
    padding-top: 10%;
    max-width: 60%;

  }
}