.hero {
  background-image: url('../../images/background_hero/cloud_bg.gif');
  height: 1080px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}