.header {
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1280px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__body {
    display: flex;
    align-items: center;

  }

  &__overlay {
    display: flex;
    align-items: center;
  }

  &__menu {
    margin-left: 48px;

    &_list {
      display: flex;
      gap: 20px;
      align-items: center;
      list-style: none;
    }

    &_item {
    }

    &_link {
      text-decoration: none;
    }

    &_button {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      color: var(--color-white);
    }

    &_image {
      background: var(--color-dark-gray);
      border-radius: 60px;
      padding: 8px 14px;
    }

    &_text {
      margin-left: 10px;
      text-align: right;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.25;
    }
  }
}